<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Privacy and Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Privacy & Security Policy</h1>
        <h2>Data Collection</h2>
        <p>
          We collect basic user information, including name, email, and browsing
          preferences.
        </p>
        <h2>Use of Information</h2>
        <p>
          Your information helps us improve our website and services. We do not
          sell your information to third parties.
        </p>
        <h2>Data Security</h2>
        <p>
          We employ industry-standard security measures to protect your
          information from unauthorized access.
        </p>
        <h2>Contact Us</h2>
        <p>
          If you have any questions about our privacy policies, please contact
          us at info&#64;example.com.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
