<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Welcome to the Artist Database App!</h1>
        <p>
          This app is a simple artist database that allows you to view, add,
          edit and delete artists.
        </p>
        <p>
          To get started, click on the "All Artists" tab in the bottom
          navigation bar.
        </p>
        <p class="credits">
          This App is maintained by Andre Schubert (24096465) and Muhammad
          Waheed (23624593)
          <br />
          <a href="/artists/privacy">Privacy and Security</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
