ion-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}
ion-card-content {
  position: relative;
}
ion-chip {
  position: absolute;
  right: 0;
}
