<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ artist?.name || 'Unnamed Artist' }} </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openHelp()"
        ><ion-icon slot="icon-only" name="help-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="open-action-sheet" onclick="presentActionSheet()"
        ><ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon
      ></ion-button>
      <ion-action-sheet
        trigger="open-action-sheet"
        [buttons]="actionSheetButtons"
      ></ion-action-sheet>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-loading
        [isOpen]="!artist"
        message="Loading Artist Details..."
      ></ion-loading>
    </ion-row>
    <ion-row *ngIf="artist">
      <ion-col size="6" sizeMd="4" sizeLg="3">
        <p>DOB: {{ artist.dob | date: 'longDate' }}</p>
      </ion-col>
      <ion-col size="6" sizeMd="4" sizeLg="3">
        <p>Gender: {{ artist.gender}}</p>
      </ion-col>
      <ion-col size="6" sizeMd="4" sizeLg="3">
        <p>Artwork Type: {{ artist.artwork_type }}</p>
      </ion-col>
      <ion-col size="12" sizeMd="6">
        <p>Contact Info: {{ artist.contact_info }}</p>
      </ion-col>
      <ion-col size="12" sizeMd="6">
        <p>Special Notes: {{ artist.special_notes }}</p>
      </ion-col>
      <ion-col size="8">
        <p>Exhibition Date: {{ artist.exhibition_date | date: 'longDate' }}</p>
      </ion-col>
      <ion-col size="4">
        <p>
          Featured:
          <span *ngIf="artist.is_featured_artist; else isNotFeatured">✅</span
          ><ng-template #isNotFeatured><span>❌</span></ng-template>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
