<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="all">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>All Artists</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Search Artists</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
      <ion-label>Add Artist</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
